@use "../../assets/variables/colors" as *;

.joined_tournament {
    margin-left: 250px;
    font-size: 14px;
    line-height: 1.5em;
    padding: 60px 76px;

  .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .content {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0px auto;
    text-align: center;
    .image {
    color: #d0d0d0;
    font-size: 14px;
    line-height: 1.5em;
    text-align: center;
    width: 65.867;
    height: 66.538;

    }
    .title {
    text-align: center;
    font-size: 34px;
    color: white;
    font-weight: normal;
    line-height: 1.4;
    }
    .button {
    cursor: pointer; 
    text-decoration: none;
    text-align: center;
    padding: 5px 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.49em;
    background: rgb(235, 43, 68);
    border: 1px solid rgb(235, 43, 68);
    border-radius: 4px;
    color: white;
    margin-top: 10px;
    }
  }

  @media screen and (max-width :900px) {

margin-left: 0 !important;
padding: 60px 15px !important;
}}
